
=m-maxwidth($max: $max-width, $margin: 0 auto)
  max-width: $max
  margin: $margin

=m-link($color, $hover: $action-color)
  color: $color
  &:active,
  &:focus,
  &:hover
    color: $hover

=m-icon($font-family, $line-height: 1)
  font-family: $font-family
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  @if $line-height != false
    line-height: $line-height
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

=m-same($values...)
  $length: length($values)
  $value: nth($values, $length)
  @for $i from 1 to $length
    #{nth($values, $i)}: $value

=m-circle($size, $color, $background-color)
  +m-same(width, height, line-height, $size)
  display: block
  border-radius: 50%
  text-align: center
  color: $color
  background-color: $background-color

=m-icomoon($icon, $line-height: false, $pos: "before")
  &:#{$pos}
    +m-icon($icomoon-font-family, $line-height)
    @extend #{$icon}:before
